@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-gray-100 text-gray-800;
    overflow-x: hidden;

}

::-webkit-scrollbar {
    display: none;
}

/* Enable scrollbars only for .custom-scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  display: block;     /* Show scrollbar again */
  height: 8px;        /* for horizontal */
  width: 8px;         /* for vertical */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a0aec0;
  border-radius: 4px;
}

